body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    margin: 0 !important;
    padding: 0;
}
.navbar, .footer {
    background-color: #00008B !important;
}
.navbar-nav {
    margin-left: auto;
}
.btn {
    margin: 5px;
}
.navbar-toggler {
    background-color: white !important;
}
.navbar-brand {
    font-size: 30px !important;
    font-family: 'Shantell Sans', cursive;
    font-weight: bold;
}
.btn-outline-primary, .navbar-brand {
    border-color: white !important;
    color: white !important;
}
.btn-outline-primary:hover {
    background-color: white !important;
    color: #00008B !important;
}
.container {
    margin: auto;
    padding: 5px;
}
.card {
    margin-top: 20px;
}
.products-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btn-primary {
    background-color: #00008B !important;
    border-color: white !important;
    border-radius: 10px !important;
}
form, .form-control {
    border-color: #00008B !important;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
}
.submit:hover{
    background-color: #00008B !important;
    color: white;
}
.rm-btn:hover {
    background-color: red !important;
    border-style: solid;
    border-color: red !important;
}
.upd-btn:hover {
    background-color: green !important;
}
footer {
    height: 100px;
    width: auto;
    margin-top: auto;
    margin: 0;
}
