{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
     <div class="container">
        <h1>Добавить категорию</h1>
        <form action="{% url 'category_add' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="name" id="name" required placeholder="Наименование категории" class="form-control">
            </div>
            <div class="mb-3">
                <textarea name="desc" placeholder="Описание" id="desc" required class="form-control" rows="7"></textarea>
            </div>
            <div class="mb-3">
                <input type="submit" class="form-control submit" value="Отправить">
            </div>
        </form>
     </div>
{% endblock %}