{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <h1>Категории</h1>
        {% for category in categories %}
            <div class="form-control">
                <h3>{{category.name}}</h3>
                <p> Описание: {{category.desc}}</p>
                <a href="{% url 'remove_category' category.pk %}" class="btn btn-primary rm-btn">Удалить</a>
                <a href="{% url 'category_update' category.pk %}" class="btn btn-primary upd-btn">Редактировать</a>
            </div>
             <br>
        {% endfor %}
    </div>
{% endblock %}