{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
    <h1>My market</h1>
        <div class="products-card">
            {% for product in products %}
                    <div class="card" style="width: 20rem;">
                      <img src="{{ product.img_link }}" class="card-img-top" alt="Рисунок {{ product.name }}">
                      <div class="card-body">
                          <h5 class="card-title">{{ product.name }}</h5>
                          <p class="card-text">Цена: {{ product.price }} $</p>
                          <p class="card-text">Категория: {{ product.category_name }}</p>
                          <a href="{% url 'product_view' product.pk %}" class="btn btn-primary">Подробнее...</a>
                      </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

